body {
  background-color: #dedede;
}
body a {
  color: #920c0c;
}
body header {
  background-color: #000000;
}
body .banner {
  background-color: #000000;
  color: #dedede;
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  padding: 1em;
}
body .section_title {
  font-family: 'copystructnormal', Arial, sans-serif;
  background-color: #cdcdcd;
}
body .section_title a {
  color: #920c0c;
}
