<header>
    <h2>Container metrics</h2>
    <h6 class="note">
        Container id : <span ng-bind="id"></span>
        <small class="push-right">
            <strong>
                Last updated on : <span ng-bind="lastUpdate | date:'yyyy-MM-dd HH:mm:ss'"></span>
            </strong>
        </small>
    </h6>
</header>
<section>
    <div class="graphContainer">
        <div class="title">
            <h4>
                <span>
                    CPU metrics
                </span>
                <small class="push-right">
                    <strong>
                        From <span ng-bind="cpuMetrics[0].data[0].x | date:'yyyy-MM-dd HH:mm:ss'"></span>
                        to <span ng-bind="cpuMetrics[0].data.slice(-1)[0].x | date:'yyyy-MM-dd HH:mm:ss'"></span>
                    </strong>
                </small>
            </h4>
        </div>
        <rickshaw rickshaw-options="cpuOptions" rickshaw-series="cpuMetrics" rickshaw-features="cpuFeatures"></rickshaw>
    </div>
    <div class="graphContainer">
        <div class="title">
            <h4>
                <span>
                    Memory metrics
                </span>
                <small class="push-right">
                    <strong>
                        From <span ng-bind="memoryMetrics[0].data[0].x | date:'yyyy-MM-dd HH:mm:ss'"></span>
                        to <span ng-bind="memoryMetrics[0].data.slice(-1)[0].x | date:'yyyy-MM-dd HH:mm:ss'"></span>
                    </strong>
                </small>
            </h4>
        </div>
        <rickshaw rickshaw-options="memoryOptions" rickshaw-series="memoryMetrics" rickshaw-features="memoryFeatures"></rickshaw>
    </div>
    <div class="graphContainer">
        <div class="title">
            <h4>
                <span>
                    Network metrics
                </span>
                <small class="push-right">
                    <strong>
                        From <span ng-bind="networkOkMetrics[0].data[0].x | date:'yyyy-MM-dd HH:mm:ss'"></span>
                        to <span ng-bind="networkOkMetrics[0].data.slice(-1)[0].x | date:'yyyy-MM-dd HH:mm:ss'"></span>
                    </strong>
                </small>
            </h4>
        </div>
        <rickshaw rickshaw-options="networkOkOptions" rickshaw-series="networkOkMetrics" rickshaw-features="networkOkFeatures"></rickshaw>
    </div>
    <div class="dataContainer">
        <table class="ink-table">
            <tr ng-repeat="(key, value) in statics">
                <th ng-bind="key" class="align-right"></th>
                <td ng-bind="value" style="text-overflow: ellipsis; overflow: hidden; width: 100%;"></td>
            </tr>
        </table>
    </div>
</section>
